body{
    background-color:rgb(55, 175, 184);
    
h2{
   color: rgb(33, 23, 114);
}
h1{
    color:rgb(12, 48, 93);
}
h3
{
    color:rgb(10, 55, 110) ;
}
h4{
    color:rgb(14, 11, 86);
}
button{
    color: rgb(14, 14, 77);
}
border{
    color: rgb(14, 14, 77);
}